<!DOCTYPE html>
<html>
  <head>
    <title>Hello Client Monkey 3</title>
    <script type="text/javascript"
      src="//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>
    <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <link href="http://static0.twilio.com/resources/quickstart/client.css"
      type="text/css" rel="stylesheet" />
    <script type="text/javascript">
 
      var connection;

      Twilio.Device.setup("<%= token %>", {debug: true});
 
      Twilio.Device.ready(function (device) {
        $("#log").text("Ready");
      });
 
      Twilio.Device.error(function (error) {
        $("#log").text("Error: " + error.message);
      });
 
      Twilio.Device.connect(function (conn) {
        $("#log").text("Successfully established call");
      });
 
      Twilio.Device.disconnect(function (conn) {
        $("#log").text("Call ended");
      });
 
      /* Listen for incoming connections */
      Twilio.Device.incoming(function (conn) {
        connection = conn
        $("#log").text("Incoming connection from " + conn.parameters.From);
      });
 
      function call() {
        Twilio.Device.connect();
      }
  
      function answer() {
        connection.accept();
        $("#log").text("Connected with " + connection.parameters.From);
      }
  
      function hangup() {
        Twilio.Device.disconnectAll();
        connection = null;
      }
    </script>
  </head>
  <body>
    <button class="call" onclick="call();">
      Call
    </button>
  
    <button class="call" onclick="answer();">
      Answer
    </button>
  
    <button class="hangup" onclick="hangup();">
      Hangup
    </button>
  
    <div id="log">Loading pigeons...</div>
  </body>
</html>
